{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="container text-center">
        <center><h1>{% trans 'herotitle' %}</h1></center>
    </div>
    <div class="container">
        {% for post in posts %}
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <img src="{{ post.imageUrl }}" alt="{{ post.title }}" style="width: 300px; height: 200px;">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.publication_date }} {% trans 'ago' %}, Diot-Siaci</h6>
                    <p class="card-text">{{ post.content }}</p>

                    <!-- Search Form for Related Posts -->
                    <form method="get" action="{% url 'home' %}" class="mt-3">
                        <div class="input-group">
                            <input type="hidden" name="q" value="{{ post.title }}">
                            <input type="text" class="form-control" placeholder="{% trans 'Search related posts' %}" aria-label="{% trans 'Search related posts' %}" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">{% trans 'Search' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}