{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="container text-center">
        <center><h1>{% trans 'herotitle' %}</h1></center>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                    <div class="card mb-3" style="width: 100%;">
                        <div class="card-body">
                            <img src="{{ post.imageUrl }}" alt="{{ post.title }}" style="width: 100%; max-height: 200px; object-fit: cover;">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.publication_date }} {% trans 'ago' %}</h6>
                            <p class="card-text">{{ post.content }}</p>
                            <form method="get" action="{% url 'home' %}" class="mt-3">
                                <div class="input-group">
                                    <input type="hidden" name="query" value="{{ post.title }}">
                                    <input type="text" class="form-control" placeholder="{% trans 'Search related posts' %}" aria-label="{% trans 'Search related posts' %}" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">{% trans 'Search' %}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {% if gpt_results %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{% trans 'Search Results' %}</h5>
                            <p class="card-text">{% trans 'Query' %}: {{ query }}</p>
                            <p class="card-text">{% trans 'Answer' %}: {{ gpt_results.answer }}</p>
                            <hr>
                            <h5 class="card-title">{% trans 'Related Posts' %}</h5>
                            <ul class="list-group">
                                {% for post in gpt_results.posts %}
                                    <li class="list-group-item">{{ post.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}